/VR/Library/
/VR/Temp/
/VR/Obj/
/Build/
/Builds/
/VR/Logs/
/VR/UserSettings/

ExportedObj/
.consulo/
.vs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app